* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: #111;
    color: white;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

/* POSITION SECTION */
.position {
    text-align: center;
    padding: 40px 20px;
}

.position h1 {
    background: white;
    color: black;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.box {
    width: 200px;
    height: 150px;
    background: rgba(255,255,255,0.1);
    position: relative;
    border-radius: 10px;
}

.small {
    width: 80px;
    height: 50px;
    background: lightgreen;
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: center;
    line-height: 50px;
    color: black;
}

.big {
    width: 100px;
    height: 80px;
    background: tomato;
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
    line-height: 80px;
}

.center {
    left: 50%;
    transform: translateX(-50%);
}

.right {
    right: 10px;
    left: auto;
}

/* INFO */
.info {
    text-align: center;
    padding: 40px 20px;
}

.info h2 {
    background: white;
    color: black;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: brown;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
}


@media (max-width: 768px) {
    nav {
        display: none;
    }

    .boxes {
        flex-direction: column;
        align-items: center;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }
}